extends ../layouts/base

block content
  .container.text-xs-center
    if enquirySubmitted
      h3 Thanks for getting in touch.
    else
      .row: .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .container(style='margin: 2rem 0;').text-xs-center
          p.lead You know what to do...
        form(method='post')
          input(type='hidden', name='action', value='contact')
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label.sr-only Name
            input(type='text', name='name.full', value=formData['name.full'], placeholder='Your Name').form-control
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label.sr-only Email
            input(type='email', name='email', value=formData.email, placeholder='Your Email').form-control
          .form-group
            label.sr-only Phone
            input(type='text', name='phone', value=formData.phone, placeholder='Phone (optional)').form-control
          .form-group(class=validationErrors.enquiryType ? 'has-error' : null)
            label.sr-only What are you contacting us about?
            select(name='enquiryType').form-control
              option(value='') Message For...
              each type in enquiryTypes
                option(value=type.value, selected=formData.enquiryType == type.value)= type.label
          .form-group(class=validationErrors.message ? 'has-error' : null)
            label.sr-only Message
            textarea(name='message', placeholder='Your message' rows=4).form-control= formData.message
          .form-actions
            +submit({text: 'SEND IT', icon: 'paper-plane', type: 'info'})
