mixin post(post)
  .post-list.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
    h1: a(href='/post/' + post.slug)= post.title
    h5.text-muted
      if post.publishedDate
        != post._.publishedDate.moment().from()
      if post.author 
        |  | #{post.author.name.first}
    if post.image.exists
      img(src=post._.image.fit(160,160)).img.pull-right
    if post.content.brief
      .lead
        p!= post.content.brief.html
    else 
      p!= post.content.extended.html
    if post.content.extended
      .read-more
        +abtn({href: '/post/' + post.slug, text:'Full Post', icon: 'plus', type: 'primary-outline btn-xs'})
        if post.categories && post.categories.length
          each cat in post.categories
            +label({text: cat.name, id: 'post-category-label'})
