extends ../../layouts/base

block content
  .conatiner-fluid
    #resource-wrapper(data-spy="scroll" data-target="#sidebar" data-offset='91')
      //- HEADING
      #overview
        .row#heading
          .col-lg-3.col-sm-12
            img.img-fluid(src='/images/matthew-styers.jpg')
          .col-lg-9.col-sm-12
            h1.display-2
              = data.profile.user.name.first
              | 
              = data.profile.user.name.last
            h2 Node.JS + Javascript Developer | #[span.h4.text-muted Houston, TX]
            if pdfLink
              .btn-toolbar#download-link
                - var cv = data.profile.cvFile;
                +abtn({href: '/files/' + cv.filename, text: 'Download PDF', icon: 'download', type: 'primary-outline btn-sm'})
                +abtn({href: '/', text: 'Back to Styers.co', icon: 'sign-out', type: 'info-outline btn-sm' })
                +abtn({href: '/contact', text: 'Contact Matthew', icon: 'bullhorn', type: 'warning btn-sm' })
        #summary.row: .col-lg-12
          .row: .col-lg-12
            h1.display-4 Summary
          .row
            .col-lg-6.col-md-12
              ul
                li 3+ years software development experience
                li A/B and Multivariate testing experience
                li Well-versed in front-end, back-end, and infrastructure engineering
            .col-lg-6.col-sm-12
              ul
                li Capable full-stack engineer with an eye for UI design
                li Prior experience in sales, marketing, and team management
                li Implementation experience in a variety of languages and environments
      #toolbelt
        .row: .col-lg-12
          h1.display-4 Toolbelt
        .row: .col-lg-12
          ul.nav.nav-tabs
            li.nav-item: a.nav-link.active(href='#toolbelt-favorites' data-toggle='tab') A Few Favorties
            li.nav-item: a.nav-link(href='#toolbelt-complete' data-toggle='tab') The Detailed List
        .tab-content
          #toolbelt-favorites.tab-pane.fade.in.active(role='tabpanel')
            .row.text-xs-center
              .col-lg-3.col-md-6.col-sm-12.col-xs-12
                .card
                  .card-header
                    h4.card-title Backend
                  .list-group.list-group-flush
                    each tool in data.profile.tools
                      if (tool.category === 'backend' && tool.isFavorite)
                        li.list-group-item #[a(href=tool.url target='_blank') #{tool.name}]
              .col-lg-3.col-md-6.col-sm-12.col-xs-12
                .card
                  .card-header
                    h4.card-title Frontend
                  .list-group.list-group-flush
                    each tool in data.profile.tools
                      if (tool.category === 'frontend' && tool.isFavorite)
                        li.list-group-item #[a(href=tool.url target='_blank') #{tool.name}]
              .col-lg-3.col-md-6.col-sm-12.col-xs-12
                .card
                  .card-header
                    h4.card-title Infrastructure
                  .list-group.list-group-flush
                    each tool in data.profile.tools
                      if (tool.category === 'infrastructure' && tool.isFavorite)
                        li.list-group-item #[a(href=tool.url target='_blank') #{tool.name}]
              .col-lg-3.col-md-6.col-sm-12.col-xs-12
                .card
                  .card-header
                    h4.card-title Everything Else
                  .list-group.list-group-flush
                    each tool in data.profile.tools
                      if (tool.category === 'miscellaneous' && tool.isFavorite)
                        li.list-group-item #[a(href=tool.url target='_blank') #{tool.name}]
          #toolbelt-complete.tab-pane.fade(role='tabpanel')
            .row: .col-lg-12
              ul.nav.nav-pills
                li.nav-item: a.nav-link.active(href='#backendComplete' data-toggle='pill') Backend
                li.nav-item: a.nav-link(href='#frontendComplete' data-toggle='pill') Frontend
                li.nav-item: a.nav-link(href='#infrastructureComplete' data-toggle='pill') Infrastructure
                li.nav-item: a.nav-link(href='#miscellaneousComplete' data-toggle='pill') Everything Else
            .row
              .col-lg-12
                .tab-content
                  #backendComplete.tab-pane.fade.in.active(role='tabpanel')
                    .table-responsive
                      table.table.table-striped.table-hover
                        thead
                          tr
                            td Tool
                            td Description
                        tbody
                          each tool in data.profile.tools
                            if (tool.category === 'backend')
                              tr
                                td #[a(href=tool.url target='_blank') #{tool.name}]
                                td= tool.description
                  #frontendComplete.tab-pane.fade(role='tabpanel')
                    table.table.table-striped.table-hover
                      thead
                        tr
                          td Tool
                          td Description
                      tbody
                        each tool in data.profile.tools
                          if (tool.category === 'frontend')
                            tr
                              td #[a(href=tool.url target='_blank') #{tool.name}]
                              td= tool.description
                  #infrastructureComplete.tab-pane.fade(role='tabpanel')
                    table.table.table-striped.table-hover
                      thead
                        tr
                          td Tool
                          td Description
                      tbody
                        each tool in data.profile.tools
                          if (tool.category === 'infrastructure')
                            tr
                              td #[a(href=tool.url target='_blank') #{tool.name}]
                              td= tool.description
                  #miscellaneousComplete.tab-pane.fade(role='tabpanel')
                    table.table.table-striped.table-hover
                      thead
                        tr
                          td Tool
                          td Description
                      tbody
                        each tool in data.profile.tools
                          if (tool.category === 'miscellaneous')
                            tr
                              td #[a(href=tool.url target='_blank') #{tool.name}]
                              td= tool.description
        //- EXPERIENCE
      #experience
        .row: .col-lg-12
          h1.display-4 Experience
        .row: .col-lg-12
          .conatiner-fluid
            ul.timeline
              li.timeline-inverted#CALLDRIVE
                .row
                  .col-lg-2.col-sm-4.hidden-sm-down
                    .timeline-badge.start.warning
                      p July
                        | 2015
                    .timeline-badge.success
                      p Jan
                        | 2016
                  .col-lg-10.col-sm-8
                    .timeline-panel
                      .timeline-heading
                        h4.timeline-title
                          | CallDrive | #[span.h5 Houston, TX]
                        p: small.text-muted
                          |  Co-founder, Product Engineer
                      .timeline-body
                        p
                          .lead Co-founded and led product development for an enterprise
                            | software startup designed to connect online consumers with 
                            | with businesses that primarily conduct transactions offline.
                        ul
                          li Worked as a primary member of a small engineering team to build an enterprise software product designed to automate online advertising, in addition to leading product and marketing strategy.
                          li Developed multiple iterations of the platform on Python-Django-Postgres-Backbone and NodeJS-Keystone-React-MongoDB stacks.
                          li Integrated and constructed UIs around a variety of third-party services, including Twilio (telephony) and Google Adwords (Advertising), amongst many others.
                          li Designed front-end webapps using Jade, ReactJS, and Backbone-Marionette.
                          li Assisted with construction and deployment of microservice architectures using Docker, Amazon Web Services and Heroku.
              li.timeline-inverted#FIRSTFUNNEL
                .row
                  .col-lg-2.col-sm-4.hidden-sm-down
                    .timeline-badge.start.warning
                      p Jan
                        | 2015
                    .timeline-badge.success
                      p July
                        | 2015
                  .col-lg-10.col-sm-8
                    .timeline-panel
                      .timeline-heading
                        h4.timeline-title
                          | FirstFunnel | #[span.h5 Houston, TX]
                        p: small.text-muted
                          |  Co-Founder, Product Manager
                      .timeline-body
                        p
                          .lead Partnered with the ownership group at M&N Holdings to create a software product from the platform created there, before eventually branching off to create the more broadly appealing product that would ultimately become CallDrive.
                        ul
                          li Served as Product Manager for First Funnel, a marketing automation platform for automotive dealerships
                          li Successfully led a team of designers and engineers through planning, design, and and initial development phases of product creation
                          li Managed remote team of international developers during prototype creation sprint.
                          li Developed business and financial models used to secure seed funding.
              li.timeline-inverted#MN-HOLDINGS
                .row
                  .col-lg-2.col-sm-4.hidden-sm-down
                    .timeline-badge.start.warning
                      p June
                        | 2012
                    .timeline-badge.success
                      p Jan
                        | 2015
                  .col-lg-10.col-sm-8
                    .timeline-panel
                      .timeline-heading
                        h4.timeline-title
                          | M&N Holding Co. (Automotive Group) | #[span.h5 Oklahoma City, OK]
                        p: small.text-muted
                          |  Project Manager
                      .timeline-body
                        p
                          .lead Though initially hired to manage dealership social media accounts and SEO,
                            | I quickly became an essential piece of the larger digital team by 
                            | generating positive outcomes on a variety of corporate interests, including
                            | the development of an in-house website and marketing platform
                        ul
                          li Managed digital marketing operations for a multipoint automotive group
                          li Served as primary marketing analyst, advancing corporate practices on sales attribution, ROI measurement, and risk analysis.
                          li Led several projects across 15+ dealerships, including development of an in-house website platform
                          li Played a central role in the diversification of digital marketing efforts
              li.timeline-inverted#TATE
                .row
                  .col-lg-2.col-sm-4.hidden-sm-down
                    .timeline-badge.start.warning
                      p Nov
                        | 2011
                    .timeline-badge.success
                      p June
                        | 2012
                  .col-lg-10.col-sm-8
                    .timeline-panel
                      .timeline-heading
                        h4.timeline-title
                          | Tate Music Group | #[span.h5 Oklahoma City, OK]
                        p: small.text-muted
                          |  A&R/Sales Representative
                      .timeline-body
                        p
                          .lead A life-long interest in music industry eventually led to 
                            | led to a position in Worked in Artists & Repertoire division of 
                            | Tate Music Group, an Oklahoma City-based record label.
                        ul
                          li Signed a variety of new talet from around the US to the label roster
                          li Developed and maintained relationships with artists and management
                          li Provided guidance to incoming artists about operating effectively within the music industry.
                          li Earned top sales honors multiple times, including first month, and was consistently a top performer at the label
      #education
        .row: .col-lg-12
          h1.display-4 Education
        .row
          .col-lg-12
            h3 Southern Nazarene University
            h4 BS, Sociology | #[span.text-muted May, 2011]
            ul
              li Graduated with 3.5 GPA
              li Conducted research on nonviolent social movements 
              li Completed semesters of remote study in Crested Butte, CO San Diego, CA 
              li Served on the Student Government Association Executive Council as VP of Campus Communications 
              li Wrote 2 columns (Culture, Political Opinion) for the campus newspaper
        .row
          .col-lg-12
            h3 Personal Achievements
            ul
              li Served as adjust professor of Sociology at SNU semester following graduation.
              li Conducted outcomes measurement study for a local non-profit.
              li Completed 3 marathons and 4 half-marathons
block js
